*{
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: sans-serif;
}
header{
    background-color: white;
}
header .top-div{
    text-align: center;
    padding: 18px;
    margin: 0px  auto;
}
.top-div button{
    color: green;
    border: 2px solid green;
    padding: 20px;
    background-color: white;
}
header nav{
    background-color: #000000;
    padding: 5px 40px;
    position: relative;
} 
header nav .brand{
    display: inline-block;
}
.brand img{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
    border: 0px solid white;
}
.brand span{
    display: inline-block;
    color: white;
    position: absolute;
    top: 20px;
}
header nav ul{
    /*display: inline-block;*/
    list-style-type: none;
    padding: 0;
    float: right;
}
header nav ul li{
    display: inline-block;
    margin-top: 16px;
    margin-right: 18px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
main{
    background-color: brown;
}
#hero{
    height: 440px;
    background-image: url("visalia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}
#hero div{
    width: 550px;
    margin: 0px  auto;
    text-align: center;
    color: white;
    padding: 40px;
    background-color: #0c0b0b;
    opacity: 0.6;
}
#hero h1{
    font-size: 48px;
    margin-bottom: 12px;
}



